/* HEADER */
.navbar{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.navbar > img{
    height: 50px;
    width: 50px;
}

.nav-menu > a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-menu a:hover{
    background-color: rgb(223, 251, 219);
}


/* MAIN */
main{
    font-family: cursive;
}


/* HOME SECTION */
#home{
    border-top: 2px solid black;
    background-color: lightpink;
}

.home-info{
    text-align: center;
}

.image-slideshow{
    padding-bottom: 20px;
}

.image-slideshow > img{
    width: 75%;
    height: 75%;
    display: block;
    margin: 0 auto;
}


/* PROFILE SECTION */
#ourProfile{
    border-top: 2px solid black;
    padding: 20px;
    background-color: antiquewhite;
    text-align: center;
}

.profile-info{
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
}

.img-profile{
    flex: 1;
    text-align: center;
    align-content: center;
}

.img-profile > img{
    height: 300px;
    width: 300px;
    padding-right: 30px;
}

.profile-content{
    flex: 3;
    text-align: justify;
    border: 3px solid black;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}


/* PORTOFOLIO SECTION */
#portofolio{
    border-top: 2px solid black;
    background-color: lightskyblue;
}

.portofolio-content{
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.portofolio-L{
    flex: 1;
    text-align: center;
    align-content: center;
    border-right: 2px solid black;
    padding: 5px;
}

.portofolio-L > img{
    width: 100px;
    height: 100px;
}

.portofolio-O{
    flex: 1;
    text-align: center;
    align-content: center;
    border-right: 2px solid black;
    padding: 5px;
}

.portofolio-O > img{
    width: 100px;
    height: 100px;
}

.portofolio-V{
    flex: 1;
    text-align: center;
    align-content: center;
    border-right: 2px solid black;
    padding: 5px;
}

.portofolio-V > img{
    width: 100px;
    height: 100px;
}

.portofolio-E{
    flex: 1;
    text-align: center;
    align-content: center;
    padding: 5px;
}

.portofolio-E > img{
    width: 100px;
    height: 100px;
}

/* .portofolio-content{
    text-align: center;
    align-content: center;
    justify-content: center;
}

.portofolio-menu{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.original > img{
    height: 150px;
    width: 150px;
}

.gulai > img{
    height: 150px;
    width: 150px;
}

.bolognese > img{
    height: 150px;
    width: 150px;
} */


/* MESSAGE SECTION */
#messageUs{
    border-top: 2px solid black;
    padding: 20px;
    background-color: lightgreen;
}

.message-info{
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.message-input{
    flex: 1;
    text-align: left;
    padding-left: 10%;
}

.message-input > input[type="text"]{
    width: 83%;
    height: 20px;
}

.message-input > input[type="date"]{
    width: 83%;
    height: 20px;
}

.message-input > textarea{
    width: 83%;
    height: 100px;
}

.message-display{
    flex: 1;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10%;
}

.message-display > textarea{
    width: 100%;
    height: 350px;
}
